#!/bin/sh
#
# ~/.xprofile
# This file runs when a DM logs you into a graphical session.

if [ -d /etc/X11/xinit/xinitrc.d ]; then
  for f in /etc/X11/xinit/xinitrc.d/*; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

if [ systemd-detect-virt = "oracle" ]
then
	/usr/bin/VBoxClient-all
fi

#Authentication dialog
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# set screensaver timeout
xset s 100
