!! XTerm

XTerm*termName: xterm-256color
XTerm*renderFont: true
XTerm*faceName: xft:Fragment Mono:style=Medium:size=24, Monospace:style=Medium:size=24
XTerm*utf8: true
XTerm*locale: false
XTerm*metaSendsEscape: true
XTerm*savelines: 1024

XTerm.vt100.translations: #override \n\
    Ctrl <Key>-: smaller-vt-font() \n\
    Ctrl <Key>+: larger-vt-font() \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! double-click to select whole URLs
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

!! colors

! special
*.foreground:   #586e75
*.background:   #fdf6e3
*.cursorColor:  #d30102

! black
*.color0:  #073642
*.color8:  #839496

! red
*.color1:  #dc322f
*.color9:  #cb4b16

! green
*.color2:  #859900
*.color10: #586e75

! yellow
*.color3:  #b58900
*.color11: #657b83

! blue
*.color4:  #268bd2
*.color12: #839496

! magenta
*.color5:  #d33682
*.color13: #6c71c4

! cyan
*.color6:  #2aa198
*.color14: #93a1a1

! white
*.color7:  #eee8d5
*.color15: #fdf6e3
